@model IEnumerable<SH.ViewModelTransactin>
<div class="panel panel-info">
    <div class="panel-heading">Monthly Estimated Bill</div>
    <div class="panel-body">
        <center><h3>Smart Home Bill</h3></center>
        <br /><br />
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Users</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Residents items in ViewBag.res)
                                {
                                    <tr>
                                        <td>@items.Username</td>
                                        <td>@items.Usertype</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Room and Appliances</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Room Name</th>
                                    <th>No of Appliances</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Room item in ViewBag.Room)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.NoOfAppliances</td>
                                   </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">Consumption on This Month</div>
                <div class="panel-body">
                    @if (Model != null)
         {
             double totcost = 0;
             var a = Model.Where(m => m.Timespan != 0 && m.Action == "OFF");
                <div class="table-responsive">
                    <table class="table table-striped" id="example">


                        <thead>
                            <tr>
                                <th>Appliances Name</th>
                                <th>Room</th>
                                <th>Use by</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Duration</th>
                                <th>Cost</th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (ViewModelTransactin item in a)
                        {
                            var timeVolt = Int32.Parse(@item.Voltages) * 0.00278;
                            var cost = timeVolt / 1000;
                            totcost = totcost + cost;
                        <tr>
                            <td>@item.appName</td>
                            <td>@item.roomName</td>
                            <td>@item.Username</td>
                            <td>@item.Request.Value.ToShortDateString()</td>
                            <td>@item.Request.Value.ToShortTimeString()</td>
                            <td>@item.Timespan Sec</td>
                            <td>@cost Rs</td>
                        </tr>
                        }
                            @{
    totcost = totcost * ViewBag.days;
    totcost = totcost + totcost / 15;
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Estimated Bill:</td>
                                <td>@totcost </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
         }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var today = new Date();
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                endDate: "today",
                maxDate: today
            }).on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });
        });






        //datatable


        $(document).ready(function () {
            $('#example').DataTable({
                responsive: true,
                dom: 'Bfrtip',
                buttons: [
                    'print'
                ]
            });
        });











    </script>
}