@model SH.Models.Role
@{
    ViewBag.Title = "Roles Management";
    IList<string> perm = new List<string>();
    perm.Add("All");
    perm.Add("GateKeeper");
    perm.Add("Roles");
    perm.Add("Tv Lounge");
    perm.Add("Drawing Room");
    perm.Add("Bed Room");

}
@*<link href="~/Theme/ToggelButton/simple-switch.min.css" rel="stylesheet" />*@
<div class="col-md-12">
    <h2 class="alert alert-info text-center"><i class="fa fa-th-list"></i> Manage Roles</h2>
</div>
<div class="row">
    @using (Html.BeginForm("Roles", "Home", FormMethod.Post))
            {
        @Html.AntiForgeryToken()
            <!-- /.row -->
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Update Roles
                </div>
                <div class="panel-body">

                    <div class="col-md-12 divpermissionerror" style="display:none;">
                        <h4 class="alert alert-danger text-center">Permission Is Required</h4>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div>
                                    @Html.Hidden("Permission")
                                </div>
                                @if (Model != null)
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-1"></div>
                                        <div class="col-md-9">
                                            <div class="checkbox">
                                                @Html.EditorFor(model => model.Status)
                                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                }
                                <div class="form-group" style="margin-top:10px;">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-10">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr class="info">
                                                    <th>Permissions</th>
                                                    <th>Allow</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in perm)
                                                {
                                                    <tr>
                                                        <td>@item</td>
                                                        <td>
                                                            @if (Model != null)
                                                            {
                                                                if (Model.Permissions.Contains(item))
                                                                {
                                                                    <input value="@item" type="checkbox" checked class="mybox">

                                                                }
                                                                else
                                                                {
                                                                    <input value="@item" type="checkbox" class="mybox">

                                                                }
                                                            }
                                                            else
                                                            {
                                                                <input value="@item" type="checkbox" class="mybox">
                                                            }

                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="submit" class="btn btn-success pull-right btnn"><span class="glyphicon glyphicon-circle-arrow-right"></span> SaveOrUpdate</button>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>


<div class="col-md-12">

    @if (ViewBag.RoleList != null)
            {

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Permission
                    </th>
                    <th>
                        Status
                    </th>

                    <th></th>
                </tr>
            </thead>
            @foreach (var item in ViewBag.RoleList)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Permission
                    </td>
                    <td>
                        @item.Status
                    </td>



                    <td>

                        <button class="btn btn-app-"> <i class="fa fa-edit"></i> @Html.ActionLink("Edit", "Roles", new { id = item.Id }) </button>|
                        @Html.ActionLink("Details", "Details", new { id = item.Id })

                    </td>
                </tr>
            }

        </table>

    }


</div>



<div class="clearfix"></div>













@section Scripts {

    <script src="~/Theme/ToggelButton/jquery.simpleswitch.min.js"></script>
    <script>
        $(function(){
        $(".mybox").simpleSwitch();
        $(".btnn").click(function () {
            var permissions = "";
                $('.mybox').each(function (index, value) {

                    if ($(this).prop("checked") == true) {

                        permissions += $(this).val() + ","

                    }
                });
                if (permissions != "") {
                    $("#Permission").val(permissions);
                    $(".divpermissionerror").fadeOut();
                    permissions = "";
                    return true;
                }
                alert(permissions);
        });
        });
    </script>
}