<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['hi', 'Hours per Day'],
          ['@ViewBag.a',    @ViewBag.aa ],
         ['@ViewBag.b',    @ViewBag.bb ],
         ['@ViewBag.c',    @ViewBag.cc ],
         ['@ViewBag.d',    @ViewBag.dd ],
         ['@ViewBag.e',    @ViewBag.ee],
          ['@ViewBag.f',    @ViewBag.ff]


        ]);

        var options = {
          title: 'All rooms with appliances'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
</head>
<body>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
</body>
</html>
