@model IEnumerable<SH.Models.Appliances>
@using Microsoft.AspNetCore.Http
&nbsp;&nbsp;

<style>
    .container {
        padding-top: 30px;
        padding-bottom: 20px;
    }
</style>
@{
    int count = 0;
}

@foreach (Appliances A in Model)
{
    count++;

    <div class="container">
        <center>
            <div class="row">

                <div class="col-xs-12" >
                    @if (A.Name == "AC")
                    {
                        <div class="col-xs-9" >
                            <a data-toggle="modal" data-target="#@count">
                                <img src="~/images/air-conditioner.png" width="150" height="100" />

                            </a>
                        </div>
                       
                        <div class="col-xs-3 top-buffer">
                            <div class="panel panel-default">
                             <div class="panel-title">@A.Status</div>
                            </div>
                        </div>
                    }

                   
                </div>

                <div class="col-xs-12">
                  
                        @if (A.Name == "TV")
                        {
                            <div class="col-xs-9">
                                <a data-toggle="modal" data-target="#@count">
                                    <img src="~/images/television.png" width="150" height="100" />
                                </a>
                                
                            </div>
                    <div class="col-xs-3 top-buffer">
                        <div class="panel panel-default">
                            <div class="panel-title">@A.Status</div>
                        </div>
                    </div>
                        }
                    </div>

                <div class="col-xs-12">
                   
                        @if (A.Name == "Bulb")
                        {
                            <div class="col-xs-9">
                                <a data-toggle="modal" data-target="#@count">
                                    <img src="~/images/light-bulb.png" width="150" height="100" />
                                </a>
                                
                            </div>
                    <div class="col-xs-3 top-buffer">
                        <div class="panel panel-default">
                            <div class="panel-title">@A.Status</div>
                        </div>
                    </div>
                        }
                    </div>



                <div class="col-xs-12">
                    
                        @if (A.Name == "Fan")
                        {
                            <div class="col-xs-9">

                        <a data-toggle="modal" data-target="#@count">
                            <img src="~/images/fans.png" width="150" height="100" />
                        </a>
                        
                    </div>
                    <div class="col-xs-3 top-buffer">
                        <div class="panel panel-default">
                            <div class="panel-title">@A.Status</div>
                        </div>
                    </div>
                        }
                    </div>







            </div>

        </center>
      
    </div>
        


   




    <div class="modal" id="@count">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <center> <h2>@A.Name</h2></center>
                </div>
                <center>
                    <div class="modal-body">
                       @if (A.Status == "OFF")
                       {
                        <a href="/Home/AddTransaction?id=@A.Id" class="btn-sm btn-success">
                            Turn it ON
                        </a>
                       }
                       else
                       {
                       <a href="/Home/AddTransaction?id=@A.Id" class="btn-sm btn-success">
                            Turn it OFF
                        </a>

                       }
                    </div>
                   
                    <div class="modal-footer">
                        @if(ViewBag.user == "Admin")
                        {
                        <span class="pull-left">
                           
                            <a href="/Home/Deleteapp?id=@A.Id" class="btn-sm btn-danger">
                                Delete this appliance
                            </a><br />
                            </span>
                        }
                            <a class="btn-sm btn-success" data-dismiss="modal">Close</a>
</div>
</center>
</div>
        </div>
    </div>

}


@if (ViewBag.user == "Admin")
{
    <br /><br /><br /><br />
            <center>
                <div>
                    <a asp-action="dashoboard" class="btn btn-info"><span class="fa fa-arrow-left"> Back to Dashboard</span></a>
                </div>
            </center>
}
else
{
    <br /><br /><br /><br />
            <center>
                <div>
                    <a href="/Home/othershowroom?userid=@ViewBag.id" class="btn btn-info"><span class="fa fa-arrow-left"> Back to Rooms</span></a>
                </div>
            </center>

}





<style>

    .top-buffer { margin-top: 35px;}

</style>